.hero-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.subNav {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 10px solid antiquewhite;
}
.subNav a {
  text-decoration: none;
}

.subNav h3 {
  color: antiquewhite;
  text-decoration: none;
}
.head{
    display: flex;
    margin: auto;
    margin-left: 45%;
}
